body{
  background-image: url(../images/f.jpg);
background-repeat: no-repeat;
 height: 10rem;
}


.headinng-bg {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.head-h1{
padding-top: 3rem;
}

.head-p{
  padding-top: 2rem;
  }
  
.head-image{
background-image: url(../images/2.jpg);
 z-index: 10;
}

@media (min-width: 768px) {
    .carousel-inner {
      display: flex;
    }
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
  }

  .footer{

    background-color: #17a2b8 ;
    color: rgb(255, 255, 255) ;
  }

.background-carusel {
  background-image: url("../images/22.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px; 
  margin-top: 20px; 
}

.carousel-item img {
  max-width: 90%;
  height: auto;
}

.carousel {
  max-height: 15rem; 
}
.carousel-item:not(.active) {
  display: none;
}

.get-started-pad{
  padding: 3rem 0rem;
}

.card-image{
  height: 10rem;
  width: 5rem;
}

.text-padding{
  padding: 3rem 0rem 1rem 0rem;
}
