body {
    background-color: #f8f9fa;
    margin-top: 8rem;
}
.login-container {
    max-width: 500px;
    margin: 4rem auto;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    padding-top: 3rem;
}